
<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>
        <% include ./partials/navbar %>

        <%- body -%>
<!--Boot strap core javascript-->
        <% include ./partials/footer %>
  </body>
  <% include ./partials/javascript %>
</html>
