<% layout('boilerplate') %>
<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-offset-3">
        <hr/>
        <h2>Login with Facebook</h2>   
        <a class="btn btn-block btn-social btn-facebook btn-lg" style="margin-top: 200px; background-color: blue;" href='/auth/facebook'>
                <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
    </div>
</div>
</div>